@media (max-device-width: 480px){
    h2 {
        font-size: 1rem; 
    }
    h4 {
        font-size: 0.8rem
    }
}

@media (min-device-width: 480px) and (max-device-width: 1023px){
    .footer {
        margin: 17.5rem 0 0 0;
    }
}

@media (min-device-width: 1024px) and (max-device-width: 1279px){
    .footer {
        margin: 31rem 0 0 0;
    }
}
